---
const items = [
  {
    ask: "¿Requiere personal?",
    answer: "No",
  },
  {
    ask: "¿Cuánto puedo ganar?",
    answer:
      "Los ingresos varían según la ubicación y el flujo de clientes, pero en promedio puedes generar +S/500 diarios.",
  },
  {
    ask: "¿Incluye capacitación?",
    answer:
      "Sí, incluimos capacitación completa sobre la operación y mantenimiento del equipo.",
  },
  {
    ask: "¿Garantía?",
    answer:
      "Todos nuestros equipos cuentan con garantía de 1 año por defectos de fabricación.",
  },
];
---

<section class="faq">
  <h2>Preguntas Frecuentes</h2>
  <p>Respuestas claras a dudas comunes sobre el negocio.</p>

  <div class="container-faq">
    {
      items.map((item) => (
        <div>
          <details open name="ask">
            <summary>{item.ask}</summary>
            {item.answer}
          </details>
          <hr />
        </div>
      ))
    }
  </div>
</section>

<style>
  .faq {
    padding: 32px 16px;
    background: var(--bg-secondary);
    text-align: center;
  }

  h2 {
    letter-spacing: -0.9px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
    color: var(--text-white);
  }
  p {
    margin-top: 16px;
    font-size: 16px;
    color: var(--text-description);
    line-height: 24px;
    margin-bottom: 32px;
  }

  details {
    text-align: start;
    color: var(--text-description);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 0;
  }

  summary {
    color: var(--text-white);
    padding: 6px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    list-style: none;
  }

  hr {
    border: none;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
  }

  @media (min-width: 768px) {
    .faq {
      padding: 64px 16px;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }

    summary {
    padding: 6px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    list-style: none;
  }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 48px;
      line-height: 48px;
    }

    p {
      max-width: 672px;
      margin: 16px auto;
    }

    .container-faq {
      max-width: 768px;
      margin: 40px auto;
    }

    .faq {
      max-width: 1400px;
      margin: 0 auto;
    }
  }
</style>
