---
import Check from "../icons/Check.astro";

const Items = [
  "Sistema 100% automatizado",
  "Sin necesidad de personal",
  "Funciona 24/7, incluso mientras duermes",
  "Soporte técnico incluido",
];
---

<section class="container-hero">
  <div class="grid-dot"></div>
  <div class="grid-line"></div>

  <div class="gradient"></div>

  <section class="hero">
    <article>
      <h1>Genera <span>+S/300 Diarios</span> Con Tu Estación de Lavado</h1>
      <p>
        Inicia tu negocio de autolavado con nuestra tecnología 100%
        automatizada. Inversión desde S/3,700 con retorno garantizado.
      </p>
      <ul class="list">
        {
          Items.map((item) => (
            <li>
              <span>
                <Check />
              </span>
              {item}
            </li>
          ))
        }
      </ul>
      <a href="https://wa.me/51976879426?text=Hola%2C%20me%20contacto%20desde%20la%20web%20y%20quisiera%20obtener%20más%20información.%20¿Podrían%20ayudarme%3F" target="_blank" role="button" class="button">¡Empieza Hoy Mismo!</a>
    </article>
    <img
      loading="lazy"
      class="poster__video"
      src="poster-video.avif"
      alt="Poster del video"
    />
  </section>
</section>

<style>
  .container-hero {
    width: 100%;
    position: relative;
  }

  .grid-dot {
    width: 100%;
    height: 800px;
    position: absolute;
    background-image: url("../../../public/dot.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -56px;
    left: 0;
    opacity: 0.4;
    display: none;
    z-index: -1000;
  }

  .grid-line {
    width: 100%;
    height: 600px;
    z-index: -1000;
    position: absolute;
    background-image: url("../../../public/lines.svg");
    background-repeat: no-repeat;
    background-size: cover;
    top: -56px;
    opacity: 0.3;
    left: 0;
  }

  .gradient {
    position: absolute;
    width: 100%;
    height: 745px;
    background: rgb(8,130,167);
    background: linear-gradient(16deg, rgba(8,130,167,0) 0%, rgba(8,130,167,0) 49%, rgba(8,130,167,1) 100%);
    top: -80px;
    right: 0;
    z-index: -1000;
  }

  .hero {
    width: 100%;
    height: auto;
    padding: 32px 16px;
    display: grid;
    gap: 32px;
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: var(--text-white);

    & span {
      color: var(--primary-color);
    }
  }

  p {
    color: var(--text-description);
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .list {
    list-style: none;
    margin-top: 15px;

    & li {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 14px;
      margin-bottom: 10px;
      color: var(--text-description);

      & span {
        color: var(--primary-color);
        display: flex;
        align-items: center;
      }
    }
  }
  .button {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-btn);
    color: #fafafa;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    transition: background 0.2s ease-in-out;
  }

  .button:hover {
    background: var(--bg-btn-hover);
  }

  .poster__video {
    border-radius: 10px;
    width: 100%;

    object-fit: cover;
  }

  @media (min-width: 640px) {
    .button {
      max-width: 204px;
    }

    .grid-dot {
      display: block;
    }

    .grid-line {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .hero {
      padding: 64px 16px;
    }

    h1 {
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
    }

    p {
      margin-top: 24px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
    }

    .list {
      list-style: none;
      margin-top: 24px;

      & li {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
  }

  @media (min-width: 1024px) {
    .hero {
      grid-template-columns: 1fr 1fr;
      gap: 64px;
      align-items: center;
      padding: 80px 16px;
    }

    h1 {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }

    p {
      margin-top: 24px;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }

    .poster__video {
      height: 400px;
    }
  }

  @media (min-width: 1280px) {
    h1 {
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
    }

    .hero {
      max-width: 1400px;
      margin: 0 auto;
    }
  }
</style>
