<section id="contacto" class="container_contact">
  <section class="contact">
    <span class="badge">Contacto</span>
    <h2>Contáctenos</h2>
    <p>Nos encantaría saber de usted. Complete este formulario.</p>

    <form action="api/send">
      <div class="name-lastname">
        <label class="label" for="name">
          <span>Nombre <span class="required">*</span></span>
          <input type="text" name="name" placeholder="Nombre" />
        </label>

        <label class="label" for="lastname">
          <span>Apellidos <span class="required">*</span></span>
          <input type="text" name="lastname" placeholder="Apellidos" />
        </label>
      </div>

      <label class="label" for="email">
        <span>Correo electrónico <span class="required">*</span></span>
        <input type="text" name="email" placeholder="tu@correo.com" />
      </label>
      <label class="label" for="phone">
        <span>Número de celular</span>
        <input type="text" name="phone" placeholder="+51 999 999 999" />
      </label>

      <label class="label" for="message">
        <span>Mensaje <span class="required">*</span></span>
        <textarea placeholder="Dejanos un mensaje..." name="message" rows="4"
        ></textarea>
      </label>

      <div class="politicas">
        <label for="check">
          <input class="input-check" type="checkbox" name="check" id="check" />
        </label>
        <span>Acepta nuestra <a href="/">política de privacidad</a>.</span>
      </div>

      <button role="button">Enviar mensaje</button>
    </form>
  </section>
</section>

<style>
  .container_contact {
    background: var(--bg-secondary);
  }
  .contact {
    padding: 32px 16px;
    text-align: center;
  }

  .badge {
    display: inline-flex;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    background-color: rgb(0 152 181 / 10%);
    border-radius: 20px;
    margin-bottom: 8px;
  }

  h2 {
    letter-spacing: -0.9px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
    color: var(--text-white);
  }
  p {
    margin-top: 16px;
    font-size: 16px;
    color: var(--text-description);
    line-height: 24px;
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 26px;
  }

  .label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #CECFD2;
  }

  input,
  textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    background: var(--bg-primary);
    padding: 12px;
    line-height: 20px;
    border: 1px solid var(--border-color);
    color: var(--text-description);
    outline: none;
    resize: none;
  }

  .name-lastname {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .required {
    color: var(--text-description);
    font-size: 14px;
  }

  .politicas {
    display: inline-flex;
    gap: 8px;
    color: var(--text-description);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    align-items: center;
  }

  .input-check {
    width: 16px;
    height: 16px;
    background-color: transparent;
  }

  a {
    color: var(--text-description);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  button {
    background: var(--bg-btn);
    color: #fff;
    border: none;
    border-radius: 8px;
    height: 44px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }

  button:hover {
    background: var(--bg-btn-hover);
  }

  @media (min-width: 640px) {
    .name-lastname {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;
    }
  }
  @media (min-width: 768px) {
    .contact {
      padding: 64px 16px;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 48px;
      line-height: 48px;
    }

    p {
      max-width: 672px;
      margin: 16px auto;
    }

    .contact {
      max-width: 1400px;
      margin: 0 auto;
    }

    form {
      max-width: 672px;
      margin: 40px auto;
    }
  }
</style>
