---
import ArrowRight from "../icons/ArrowRight.astro";

const { step, title, description, href } = Astro.props;
---

<article>
  <div class="header-card">
    <span>{step}</span>
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
  <video autoplay loop class="video">
    <source src={href} type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
  </video>
</article>

<style>
  article {
    width: 100%;
    background-color: var(--bg-secondary);
    padding: 24px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #1e1e1e2e;
  }

  .header-card {
    display: flex;
    gap: 10px;
    align-items: center;

    & span {
      width: 32px;
      height: 32px;
      border-radius: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--primary-color);
      font-size: 14px;
      font-weight: 700;
      background-color: rgb(0 152 181 / 10%);
    }
  }

  h3 {
    color: var(--primary-color);
    text-align: start;
    font-size: 20px;
  }

  p {
    color: var(--text-description);
    line-height: 24px;
    text-align: start;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .video {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 1 /1;
  }
</style>
