---
import CardStep from "./CardStep.astro";

const Items = [
  {
    step: 1,
    title: "Insertar Modena o Pagar con Yape",
    description:
      "Los clientes pagan con monedas de S/1 o escanean un código QR para usar Yape.",
    href: "./video/paso-1.mp4",
  },
  {
    step: 2,
    title: "Tomar Pistola de Lavado",
    description:
      "Los clientes toman la pistola de alta presión para lavar su vehículo.",
    href: "./video/paso-2.mp4",
  },
  {
    step: 3,
    title: "Lavar el Vehículo",
    description:
      "El cliente lava su vehículo de forma sencilla y automatizada.",
    href: "./video/paso-3.mp4",
  },
];
---

<section id="como-funciona" class="container-steps">
  <section class="steps">
    <div class="steps__info">
      <h2>Lavado Automático en <span>3 Pasos Simples</span></h2>
      <p>
        Proceso simple de operación de hidrolavadora desde la inserción de
        moneda hasta el lavado.
      </p>
    </div>
    <figure class="cards">
      {
        Items.map((item) => (
          <CardStep
            href={item.href}
            description={item.description}
            step={item.step}
            title={item.title}
          />
        ))
      }
    </figure>
  </section>
</section>

<style>
  .container-steps {
    background: var(--bg-secondary);
  }

  .steps {
    padding: 32px 0;
    text-align: center;
  }

  .steps__info {
    margin-bottom: 32px;
    & h2 {
      letter-spacing: -0.05px;
      font-weight: 700;
      font-size: 24px;
      padding: 0 20px;
      color: var(--text-white);

      & span {
        color: var(--primary-color);
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }

    & p {
      margin-top: 16px;
      font-size: 16px;
      color: var(--text-description);
      line-height: 24px;
      padding: 0 20px;
    }
  }

  .cards {
    padding: 0 16px 0px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 24px;
  }

  @media (min-width: 768px) {
    .steps__info {
      margin-bottom: 48px;
    }
    .steps__info h2 {
      font-size: 30px;
    }

    .steps__info p {
      font-size: 18px;
    }

    .steps {
      padding: 64px 0;
    }
  }

  @media (min-width: 1024px) {
    .steps__info h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }
  @media (min-width: 1280px) {
    .steps {
      padding: 80px 0;
      max-width: 1400px;
      margin: 0 auto;
    }
    .steps__info h2 {
      font-size: 48px;
      line-height: 48px;
    }
  }
</style>
