---
import Menu from "../icons/Menu.astro";
---

<header class="header">
  <a href="/" class="logo">
    <img
      role="img"
      loading="lazy"
      class="logo"
      src="/logo.png"
      alt="Logo Cardinova "
    />
  </a>
  <button id="openMenu" class="btn__menu" role="button" aria-label="Menu">
    <Menu />
  </button>

  <aside class="aside">
    <p>Menu lateral</p>
  </aside>
</header>

<style>
  .header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    left: 0;

    animation: header-animate linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  @keyframes header-animate {
    to {
      background: rgba(255, 255, 255, 0.589);
      backdrop-filter: blur(15px);
    }
  }

  .logo {
    width: 120px;
    height: 32px;
    object-fit: contain;
  }

  .btn__menu {
    border: 1px solid var(--border-color);
    background-color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .aside {
    position: fixed;
    top: 0;
    left: -270px;
    width: auto;
    background-color: #fff;
    height: 100vh;
    transition: left 0.3s ease-in-out;
    border-right: 1px solid var(--border-color);
    padding: 24px;
    min-width: 260px;
  }

  .aside.open {
    left: 0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("openMenu");
    const asideMenu = document.querySelector(".aside");

    menuButton?.addEventListener("click", function () {
      asideMenu?.classList.toggle("open");

      // Cambiar icono entre menú y "X"
      if (asideMenu?.classList.contains("open")) {
        menuButton.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>`; // Icono de cerrar (X)
      } else {
        menuButton.innerHTML = `<svg
  xmlns="http://www.w3.org/2000/svg"
  width="22"
  height="22"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="lucide lucide-menu"
  ><line x1="4" x2="20" y1="12" y2="12"></line><line
    x1="4"
    x2="20"
    y1="6"
    y2="6"></line><line x1="4" x2="20" y1="18" y2="18"></line></svg
>
`;
      }
    });
  });
</script>
