---
const year = new Date().getFullYear();
---

<footer>
  <section>
    <img src="./logo-cardinova-white.svg" alt="Logo cardinova white" />
    <p>Centro de aprendisaje robótica, desarrollo e innovación.</p>
  </section>
  <section>
    <nav></nav>
  </section>

  <hr />
  <div class="content-recervado">
    <p>© {year} CardiNova. Todos los derechos reservados.</p>

    <p>Powered by <a href="https://doobril.com">Doobril.com</a></p>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    padding: 32px 16px;
    background-color: var(--primary-color);
  }

  img {
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    color: #c9e9ef;
    font-weight: 400;
    line-height: 20px;
  }

  hr {
    border: none;
    height: 0.5px;
    background: #4bb1c3;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  a {
    font-size: 14px;
    color: #c9e9ef;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .content-recervado {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @media (min-width: 640px) {
    .content-recervado {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
</style>
