---
const year = new Date().getFullYear();
import Facebook from "../icons/Facebook.astro";
import Twitter from "../icons/Twitter.astro";
import FooterNav from "../nav/FooterNav.astro";
---

<section>
  <footer>
    <hr />

    <section class="container-nav-footer">
      <div>
        <a href="/">
          <img src="./logo.png" alt="Logo cardinova white" />
        </a>
        <p>Centro de aprendisaje robótica, desarrollo e innovación.</p>
      </div>
      <div><FooterNav /></div>
      <div class="social__media">
        <a
          aria-label="Facebook"
          href="https://www.facebook.com/roboticaSanMartin/"
        >
          <Facebook />
        </a>
        <a aria-label="X" href="https://x.com/edinvd">
          <Twitter />
        </a>
      </div>
    </section>

    <hr />
    <div class="content-recervado">
      <p>© {year} CardiNova. Todos los derechos reservados.</p>

      <p>Powered by <a href="https://doobril.com">Doobril.com</a></p>
    </div>
  </footer>
</section>

<style>
  section {
    background-color: var(--bg-secondary);
  }
  footer {
    width: 100%;
    padding: 32px 16px;
    max-width: 1400px;
    margin: 0 auto;
  }

  img {
    margin-bottom: 16px;
    width: 142px;
    height: 32px;
    object-fit: contain;
  }
  p {
    font-size: 14px;
    color: var(--text-description);
    font-weight: 400;
    line-height: 20px;
  }

  hr {
    border: none;
    height: 2px;
    background: #1e1e1e;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  a {
    font-size: 14px;
    color: var(--text-description);

    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
  }

  .content-recervado {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .social__media {
    padding: 12px 0;
    display: flex;
    gap: 10px;
  }

  .container-nav-footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (min-width: 640px) {
    .content-recervado {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media (min-width: 768px) {
    .container-nav-footer {
      flex-direction: row;
      gap: 64px;
    }
  }
  @media (min-width: 1024px) {
    .container-nav-footer {
      flex-direction: row;
      gap: 64px;
    }
  }

  @media (min-width: 1280px) {
    .container-nav-footer {
      flex-direction: row;
      gap: 120px;
    }
  }
</style>
