---
import BusinessCard from "./BusinessCard.astro";

const items = [
  {
    title: "Opciones de Inversión",
    list: [
      "Hidrolavadora: S/3,700 - S/4,500",
      "Pack 3 máquinas: S/10,000",
      "Pack 5 máquinas: S/15,000",
    ],
  },
  {
    title: "Características",
    list: [
      "Baja inversión inicial",
      "Recuperación en 6-8 meses",
      "Ingresos desde S/500 diarios",
      "Exclusividad de zona",
      "Asesoramiento",
      "Soporte técnico incluido",
    ],
  },
  {
    title: "Modelo de Pago",
    list: ["40% al contrato", "20% en avance", "40% al finalizar"],
  },
  {
    title: "Requisitos Pre-Instalación",
    list: ["Toma de agua ½ pulgada", "Conexión eléctrica 220V"],
  },
];
---

<section class="business">
  <span class="badge">Comienza tu negocio tecnológico</span>
  <h2>Invierte en Hidrolavadoras Automáticas</h2>
  <p>
    En esta sección, te contamos los detalles clave del modelo de negocio y la
    capital de inversión para empezar con tu estación de lavado autoservicio.
  </p>

  <div class="grid__card-business">
    {items.map((item) => <BusinessCard title={item.title} list={item.list} />)}
  </div>
</section>

<style>
  .business {
    padding: 32px 16px;
    text-align: center;
  }

  .badge {
    display: inline-flex;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    background-color: rgb(0 152 181 / 10%);
    border-radius: 20px;
    margin-bottom: 8px;
  }

  h2 {
    letter-spacing: -0.9px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
  }
  p {
    margin-top: 16px;
    font-size: 16px;
    color: var(--text-description);
    line-height: 24px;
  }

  .grid__card-business {
    width: 100%;
    margin-top: 32px;
    display: grid;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
</style>
