---
import Facebook from "../icons/Facebook.astro";
import Instagram from "../icons/Instagram.astro";
import Tiktok from "../icons/Tiktok.astro";

---

<div class="social__media">
  <a target="_blank" aria-label="Facebook" href="https://www.facebook.com/roboticaSanMartin">
    <Facebook />
  </a>
  <a target="_blank" aria-label="Instagram" href="https://www.instagram.com/cardinova">
    <Instagram/>
  </a>
  <a target="_blank" aria-label="Tik tok" href="https://www.tiktok.com/@lavaderoscardinova">
    <Tiktok/>
  </a>
</div>

<style>
  .social__media {
    padding: 12px 0;
    display: flex;
    gap: 10px;
  }

  a {
    font-size: 14px;
    color: var(--text-description);

    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
  }

</style>
