---
const { title, list } = Astro.props;
---

<figure class="card__location">
  <img
    class="location-svg"
    src="./location.svg"
    alt="Location icon"
    title="Icono de location"
    role="img"
    draggable="false"
  />

  <h5>
    <> {title}</>
  </h5>
  <ul>
    {list.map((item : any) => <li>
      <p>{item}</p>
    </li>)}
  </ul>
</figure>

<style>
  .card__location {
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-secundary);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h5 {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
    gap: 8px;
    color: var(--text-white);

    & span {
      display: flex;
      align-items: center;
      color: var(--primary-color);
    }
  }

  .location-svg {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-description);
    text-align: start;
  }

  ul {
    color: var(--primary-color);
  }
</style>
