---
import CardMap from "./CardMap.astro";

const items = [
  {
    title: "Lima (4)",
    description: "Jirón de la Unión, Cercado de Lima, Lima.",
  },
  {
    title: "Arequipa (5)",
    description: "Avenida Diagonal y Avenida Larco, Miraflores, Lima.",
  },
  {
    title: "San Martin (3)",
    description: "Calle Los Eucaliptos, San Isidro, Lima.",
  },
  {
    title: "Huancayo (7)",
    description: "Bajada de Baños, Barranco, Lima.",
  },
];
---

<section class="map-container">
  <section class="map">
    <span class="badge">Estaciones a nivel nacional</span>
    <h2>Mapa de Estaciones</h2>
    <p>
      Únete a más de 20 emprendedores que ya están generando ingresos pasivos
      con nuestras Hidrolavadoras de Última Generación.
    </p>
    <div class="map__container">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1jzQEiOXMe6bsd75vupkvfwZkTUX5kAE&ehbc=2E312F"
        width="100%"
        height="480"></iframe>
    </div>
    <section class="cards__location">
      {
        items.map((item) => (
          <CardMap title={item.title} description={item.description} />
        ))
      }
    </section>
  </section>
</section>

<style>
  .map-container {
    background: #f9fafb;
  }
  .map {
    padding: 32px 16px;
    text-align: center;
  }

  .badge {
    display: inline-flex;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 500;
    padding: 4px 12px;
    background-color: rgb(0 152 181 / 10%);
    border-radius: 20px;
    margin-bottom: 8px;
  }

  h2 {
    letter-spacing: -0.9px;
    font-weight: 700;
    font-size: 24px;
    margin-top: 8px;
  }
  p {
    margin-top: 16px;
    font-size: 16px;
    color: var(--text-description);
    line-height: 24px;
    margin-bottom: 32px;
  }

  .map__container {
    width: 100%;
    height: 480px;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    margin-bottom: 32px;

    & iframe {
      border: none;
    }
  }

  .cards__location {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 24px;
  }

  @media (min-width: 768px) {
    .map {
      padding: 64px 16px;
    }

    h2 {
      font-size: 30px;
      line-height: 36px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 48px;
      line-height: 48px;
    }

    p {
      max-width: 672px;
      margin: 16px auto;
    }

    .map {
      max-width: 1400px;
      margin: 0 auto;
    }

    .map__container {
      margin-top: 40px;
    }
  }
</style>
