<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <title>Cardinova | Robótica e innovación</title>
    <meta
      name="description"
      content="Inicia tu negocio de autolavado con nuestra tecnología 100% automatizada. Inversión desde S/3,700 con retorno garantizado."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --bg-primary: #0C0E12;
    --bg-secondary: #13161B;
    --border-color: #22262F;
    --primary-color: #22CCEE;
    --text-description: #83868B;
    --text-white: #FFF;
    --bg-btn :#088AB2;
    --bg-btn-hover:#007a91;
  }

  html {
    font-family: "Geist", serif;
    scroll-behavior: smooth;
    
  }

  body {
    scroll-behavior: smooth;
    background-color: var(--bg-primary);
  }
</style>
