<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Cardinova | Estaciones de Lavado Automático 100% Tecnológicas</title>
    <meta
      name="description"
      content="Genera más de S/500 diarios con estaciones de lavado 100% automatizadas. Inversión desde S/3,700 con retorno garantizado. Tecnología innovadora para tu negocio de autolavado.."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cardinova.pe" />
    <meta
      property="og:title"
      content="CardiNova: Revoluciona tu Negocio con Estaciones de Lavado Automático"
    />
    <meta
      property="og:description"
      content="Inicia tu negocio de autolavado con tecnología 100% automatizada. Sin personal, funcionando 24/7. Inversión inteligente con retorno garantizado."
    />
    <meta property="og:image" content="https://www.cardinova.pe/og-image.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.cardinova.pe" />
    <meta
      property="twitter:title"
      content="CardNova: Estaciones de Lavado Automático de Última Generación"
    />

    <meta
      property="twitter:description"
      content="Transforma tu inversión con estaciones de lavado 100% automatizadas. Genera hasta S/500 diarios sin personal."
    />
    <meta
      property="twitter:image"
      content="https://www.cardinova.pe/twitter-image.jpg"
    />

    <link rel="canonical" href="https://www.cardinova.pe" />

    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon-dark.svg"
      media="(prefers-color-scheme: dark)"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  :root {
    --bg-primary: #0c0e12;
    --bg-secondary: #13161b;
    --border-color: #22262f;
    --primary-color: #22ccee;
    --text-description: #83868b;
    --text-white: #fff;
    --bg-btn: #088ab2;
    --bg-btn-hover: #007a91;
  }

  html {
    font-family: "Geist", serif;
    scroll-behavior: smooth;
  }

  body {
    scroll-behavior: smooth;
    background-color: var(--bg-primary);
  }
</style>
